---
import { getUser } from "../lib/auth";
const user = await getUser(Astro.cookies);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    {
      user ? (
        <>
          <p>
            Welcome {user.user.firstName}!<br />
            You're logged in using {user.user.email}
          </p>
          <a href="/logout">Logout</a>
        </>
      ) : (
        <a href="/auth">Login / Signup</a>
      )
    }
  </body>
</html>
